@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 0;
  height: 0;
}

.debug {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0 10px;
  background: #000;
  color: #FFF;
}
