@import "variables.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// Overrides
@import "panels.scss";

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: none;
}

.debug {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 0 10px;
  background: #000;
  color: #FFF;
}

.lobby {
  margin-top: 20px;
  margin-bottom: 20px;

  .join-room {
    cursor: pointer;
  }
}

.server-message {
  font-style: italic;
  color: #888585;
}

.chat-wrapper {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;

  .panel-body {
    flex: 1 1;
    position: relative;

    .chat-body-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;

      .chat-body {
        min-height: 100%;
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}

.games-list {
  .list-group-item {
    border: none;
    padding: 5px 15px;
    background: $brand-primary;
    color: #fff;

    .list-group {
      margin-bottom: 0;
    }
  }
}